.DetailCourse {
  .SectionCourse {
    display: flex;
    align-items: center;
    span {
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 400;
      margin-right: 20px;
    }
    .BtnGlobal {
      cursor: default;
      &:hover {
        transform: scale(0.97);
      }
    }
  }

  .Info {
    display: flex;
    padding: 12px 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: $colorBoxShadow;
    i {
      color: $colorGlobal;
      margin-right: 10px;
    }
  }

  .SideBarCourseDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    padding: 10px 30px;
    box-shadow: $colorBoxShadow;
    .BtnGlobal {
      &:hover {
        transform: scale(0.97);
      }
    }

    .Content {
      ul {
        li {
          display: flex;
          align-items: center;
          padding: 20px 0;
          justify-content: space-between;
          border-bottom: 1px solid $colorBorder;
          p {
            color: $colorBlack;
            span {
              color: $colorTextPrimary;
              font-weight: 500;
            }
          }

          i {
            font-size: 20px;
            color: $colorTPrimary;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .DetailCourse {
    .Info {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .DetailCourse {
    .Info {
      font-size: 12px;
      padding: 12px 8px;
    }
    .SectionCourse {
      span {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 640px) {
  .DetailCourse {
    .SectionCourse {
      span {
        font-size: 14px;
      }
    }
  }
}
