.Type {
  .Active {
    color: $colorGlobal;
  }

}

.BtnSearch.BtnGlobal {
  border-radius: 0 30px 30px 0;
  padding: 10px 20px;
}


.CourseList {
  clear: both;
  padding: 0 !important;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  
}

.Error {
  position: relative;
  margin: 24px 0;
  padding: 10px 0;
  border-top: 5px solid $colorGlobal;
  width: 100%;

  &:before,
  &:after {
    content: "";
    position: absolute;
  }

  &:before {
    top: 0;
    right: 20px;
    width: 20px;
    height: 30px;
    background: $colorGlobal;
  }

  &:after {
    top: 10px;
    right: 20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: $colorWhite;
  }
}

.Comment {
  .CommentImage {
    width: 80%;
    height: 220px;
    background: url(https://cdn.dribbble.com/users/1235460/screenshots/3748537/media/c9c1f316535f015b9770c71efb91be46.gif) no-repeat center top/ cover;
    margin: auto;
  }
}


@media (max-width: 768px) {
  .BtnSearch.BtnGlobal {
    padding: 10px 12px;
  }
  .CourseList {
    .BtnGlobal {
      padding: 12px 16px;
    }
    .CardFooterGlobal {
      p:nth-of-type(2)  {
        font-size: 12px;
      }
    }
  }

  .Error {
    padding: 40px 0;
  }
}