.ant-modal,
.ant-card,
.ant-breadcrumb,
.ant-space,
.ant-dropdown,
.ant-popconfirm {
  font-family: "Roboto", sans-serif !important;
}

.CardGlobal.ant-card .ant-card-body {
  padding: 0;
}

.Background .ant-breadcrumb ol {
  font-size: 20px;
}
.Background .ant-breadcrumb a {
  height: 100%;
}

.UpdateModal.ant-modal .ant-modal-content {
  padding: 0;
}
.UpdateModal.ant-modal .ant-modal-content .ant-modal-body {
  background: url(https://cdn.dribbble.com/users/1044993/screenshots/3109403/media/bad56b541a367f711456b0a52bc1aa57.gif) no-repeat 50%/cover;
  padding: 35px;
}
.UpdateModal.ant-modal .ant-modal-content .ant-modal-body .FormUpdate > div {
  width: 100%;
}

.ant-dropdown .ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical {
  padding: 0;
}
.ant-dropdown .ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical .ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
  padding: 6px 12px;
  font-size: 16px;
  color: #000;
}
.ant-dropdown .ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical .ant-dropdown-menu-item.ant-dropdown-menu-item-only-child:hover {
  background-color: #f6f9fa;
}

.Content nav.ant-breadcrumb ol li.ant-breadcrumb-separator {
  color: #fff;
}

.ant-popconfirm .ant-popover-content .ant-popconfirm-message .ant-popconfirm-title,
.ant-popconfirm .ant-popover-content .ant-popconfirm-message .ant-popconfirm-description {
  color: black;
}
.ant-popconfirm .ant-popover-content .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #60a5fa;
}
.ant-popconfirm .ant-popover-content .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #60a5fa;
  border-color: #60a5fa;
}

@media (max-width: 768px) {
  .UpdateModal.ant-modal {
    height: 100%;
    width: 85%;
  }
  .UpdateModal.ant-modal .ant-modal-content .ant-modal-body {
    padding: 5px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.BtnGlobal {
  padding: 16px 24px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #ed85ab 0, #60a5fa 51%, #ed85ab 100%);
  background-size: 200%;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  transition: all 0.5s;
  cursor: pointer;
}
.BtnGlobal:hover {
  background-position: right center;
}
.BtnGlobal a {
  color: #fff;
}

.TopToBm {
  position: relative;
}

.IconCustom {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
  background-color: #60a5fa;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  animation: MoveBtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.IconCustom:hover {
  animation: none;
  background-color: #fff;
  color: #60a5fa;
  border: 2px solid #60a5fa;
}

@keyframes MoveBtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.Pagination li {
  margin-right: 7px;
}
.Pagination li button {
  width: 40px;
  height: 40px;
  color: #acafb4;
  border: 1px solid #f3f4f6;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s;
}
.Pagination li button:hover {
  color: #60a5fa;
  border-color: #60a5fa;
}
.Pagination li button.Active {
  border: 1px solid #60a5fa;
  color: #60a5fa;
}
.Pagination li button.Active:hover {
  cursor: default;
}

@media (max-width: 1024px) {
  .BtnGlobal {
    padding: 14px 20px;
    font-size: 10px;
  }
}
.CardGlobal {
  min-width: 280px;
  min-height: 450px;
}
.CardGlobal:hover .WrapperCourse .Img:before {
  opacity: 1;
  visibility: visible;
}

.CardGlobal:hover .Avatar .AvatarItem,
.CardHorizontal:hover .Avatar .AvatarItem {
  transform: scale(1);
}

.CardVertical .WrapperCourse {
  position: relative;
  min-height: 150px;
}
.CardVertical .WrapperCourse .Img {
  position: relative;
}
.CardVertical .WrapperCourse .Img img {
  width: 100%;
  min-height: 150px;
  object-fit: cover;
  height: 185px;
}
.CardVertical .WrapperCourse .Img:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(45, 45, 45, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.CardVertical .CardBodyGlobal {
  min-height: 1px;
  padding: 30px 20px;
  color: #000;
}
.CardVertical .CardBodyGlobal h1 {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 10px;
}
.CardVertical .CardBodyGlobal h6 {
  padding: 0 0 10px;
  font-weight: 500;
}
.CardVertical .CardBodyGlobal span {
  color: #acafb4;
}
.CardVertical .CardIconGlobal > span:nth-child(1) > i {
  color: #fadb14;
}
.CardVertical .CardIconGlobal > span:nth-child(2) > i {
  color: #ed85ab;
}
.CardVertical .CardIconGlobal > span:nth-child(3) > i {
  color: #60a5fa;
}
.CardVertical .CardIconGlobal i {
  margin-right: 4px;
}
.CardVertical .CardSale {
  position: absolute;
  top: 5px;
  left: -5px;
  width: 85px;
  height: 30px;
  padding: 5px 8px 4px;
  color: #fff;
  background-color: #e02525;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.CardVertical .CardSale:after, .CardVertical .CardSale:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
.CardVertical .CardSale:before {
  left: 0px;
  bottom: -9px;
  border-bottom: 10px solid transparent;
  border-right: 5px solid #e02525;
  filter: brightness(0.8);
}
.CardVertical .BtnVertical {
  display: inline-block;
  position: absolute;
  top: 170px;
  padding: 8px 16px;
  font-size: 16px;
}
.CardVertical .IconInfo {
  position: absolute;
  right: 0;
  top: 0;
  width: 26px;
}

.CardHorizontal {
  width: 100%;
  border: 2px solid #f3f4f6;
  min-height: 200px;
  position: relative;
}
.CardHorizontal .Wrapper {
  width: 300px;
  object-fit: fill;
  min-height: 200px;
  height: 200px;
}
.CardHorizontal .Wrapper .Img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
}
.CardHorizontal:hover {
  border-color: #60a5fa;
}

.Avatar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  padding: 0;
  width: fit-content;
  text-align: center;
}
.Avatar .AvatarItem {
  display: inline-block;
  margin: 0 5px;
  transform: scale(0);
  transition: all 0.2s ease-in-out 0s;
}
.Avatar .AvatarItem img {
  padding: 2px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.CardVertical .CardFooterGlobal {
  padding: 20px;
}

.CardFooterGlobal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 0;
  border-top: 1px solid #f3f4f6;
}
.CardFooterGlobal p:first-of-type {
  text-decoration-line: line-through;
}
.CardFooterGlobal p:first-of-type,
.CardFooterGlobal span:nth-of-type(2) {
  font-size: 12px;
  color: #acafb4;
}
.CardFooterGlobal p:nth-of-type(2) {
  font-weight: 500;
  color: #60a5fa;
}
.CardFooterGlobal sup {
  top: -0.5em;
}
.CardFooterGlobal i,
.CardFooterGlobal span {
  color: #fadb14;
}
.CardFooterGlobal .IconTag {
  margin-left: 4px;
  color: #e02525;
}
.CardFooterGlobal .ImgCardAvatar img {
  width: 40px;
  height: 40px;
  min-height: 40px;
  border-color: #fadb14 transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #fadb14;
  border-right: 1px solid transparent;
  border-top: 1px solid #fadb14;
  border-radius: 50%;
}

@media (max-width: 992px) {
  .CardFooterGlobal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8px;
  }
  .CardFooterGlobal > div:nth-of-type(2) {
    text-align: right;
  }
  .CardFooterGlobal > div:nth-of-type(3) {
    grid-column-start: 2;
    text-align: right;
  }
  .CardHorizontal .Wrapper {
    height: 240px;
  }
}
@media (max-width: 576px) {
  .CardVertical .CardBodyGlobal {
    padding: 40px 20px;
  }
  .CardVertical .BtnVertical {
    font-size: 20px;
  }
}
.Background {
  padding: 150px 0;
  text-align: center;
  position: relative;
  background: url(../assets/img/background/page-title.jpg) no-repeat center bottom 50%/cover;
}
.Background .Overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(45, 45, 45, 0.5);
}
.Background .Content {
  position: relative;
  z-index: 2;
}
.Background h1,
.Background p {
  text-align: left;
}
.Background p {
  color: #acafb4;
}

.Header {
  transition: all 0.5s;
  background: #2c3238;
}
.Header .HeaderSearch button {
  border-radius: 0 30px 30px 0;
  padding: 10px 30px;
}
.Header .Content .ContentRight button {
  padding: 10px 30px;
}

.MenuHeader {
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;
}
.MenuHeader li {
  padding: 0 10px;
}
.MenuHeader li a {
  transition: all 0.5s;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}
.MenuHeader li a:hover {
  color: #60a5fa;
}

@media (max-width: 1024px) {
  .Header .Content .ContentRight button {
    padding: 10px 25px;
  }
  .Header .HeaderSearch {
    padding: 0 15px;
  }
  .Header li a {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .Header .Content .ContentRight button {
    padding: 8px 14px;
  }
}
@media (max-width: 768px) {
  .Header .HeaderSearch .BtnGlobal {
    padding: 10px 20px;
    border-radius: 0 30px 30px 0;
  }
}
.Footer {
  position: relative;
  margin-top: 150px;
  background-color: #2c3238;
}
.Footer .Logo {
  height: 50px;
}
.Footer > div {
  padding-bottom: 90px;
  padding-top: 30px;
}
.Footer .Subscribe {
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f6f9fa;
  position: absolute;
  left: 0;
  right: 0;
  top: -105px;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}
.Footer .Subscribe h4 {
  font-size: 28px;
  line-height: 40px;
  color: #60a5fa;
  font-weight: 600;
}
.Footer .Subscribe form input {
  padding: 15px 20px;
  background: transparent;
  font-size: 16px;
  color: #000;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  height: 55px;
  border: 1px solid #c6c7cc;
}
.Footer .Subscribe form button {
  padding: 16px 30px;
  border-radius: 0 8px 8px 0;
}
.Footer .Subscribe p {
  height: 30px;
  color: #e02525;
}
.Footer h3 {
  font-weight: bold;
  color: #60a5fa;
  font-size: 22px;
  margin-bottom: 8px;
}
.Footer ul li {
  padding: 8px 0;
}
.Footer ul li span {
  transition: all 0.5s;
}
.Footer ul li span:hover {
  transform: translateY(-1px);
  color: #60a5fa;
}
.Footer .Brands i {
  font-size: 24px;
  margin-right: 30px;
  transition: all 0.5s;
}
.Footer .Brands i:hover {
  color: #60a5fa;
}
.Footer .Contact ul li:nth-of-type(1) i {
  color: #fadb14;
}
.Footer .Contact ul li:nth-of-type(2) i {
  color: #4caf50;
}
.Footer .Contact ul li:nth-of-type(3) i {
  color: #ed85ab;
}
.Footer .Contact ul li i {
  margin-right: 8px;
}
.Footer .Copyright {
  border-top: 1px solid #f3f4f6;
}
.Footer .Copyright p span {
  color: #60a5fa;
}

.Map {
  position: sticky;
  z-index: -99;
  left: 0;
  right: 0;
  bottom: 0;
  height: 450px;
}

@media (max-width: 1024px) {
  .Footer h3 {
    font-size: 20px;
  }
}
.AnimationText {
  animation: aniText 5s steps(10) infinite;
  overflow: hidden;
}

@keyframes aniText {
  0% {
    width: 0;
  }
  50% {
    width: 230px;
  }
}
.Introduction div {
  padding: 20px;
}
.Introduction div h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
}
.Introduction div li {
  padding: 5px;
}
.Introduction div li i {
  padding-right: 10px;
}
.Introduction .ItemLarge {
  background: #60a5fa url(../assets/img/background/astronaut.png) no-repeat 100% 100%/50%;
}
.Introduction .ItemLarge p {
  font-weight: 300;
}
.Introduction .ItemLarge p span {
  font-weight: 700;
}
.Introduction > div:not(.ItemLarge) {
  padding: 20px;
}
.Introduction > div:nth-of-type(2),
.Introduction > div:nth-of-type(4) {
  background-color: #ed85ab;
}
.Introduction > div:nth-of-type(3) {
  background-color: #4caf50;
  opacity: 0.9;
}
.Introduction > div:nth-of-type(5) {
  background-color: #fadb14;
  opacity: 0.9;
}
.Introduction > div {
  position: relative;
  overflow: hidden;
}
.Introduction > div:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.Introduction > div:hover:before {
  left: 125%;
}

.TitleCourse a {
  color: #60a5fa;
  font-size: 20px;
  font-weight: 600;
}

.Number {
  background: url(../assets/img/number/bg.jpg) fixed center/cover;
  padding: 50px 0;
  margin-top: 48px;
  position: relative;
}
.Number .Content {
  position: relative;
  padding: 50px 0;
}
.Number .Content .TextNumber span {
  font-size: 50px;
  font-weight: 600;
}
.Number .Content > div {
  z-index: 1;
}
.Number::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.5);
}

.Teacher {
  background-color: #f6f9fa;
}
.Teacher .AvatarTeacher {
  overflow: hidden;
}
.Teacher .AvatarTeacher:hover span {
  bottom: 0;
  opacity: 1;
}
.Teacher .AvatarTeacher span {
  text-align: left;
  position: absolute;
  color: #fff;
  padding: 15px;
  bottom: -50px;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out 0s;
  opacity: 0;
  background-color: #60a5fa;
}
.Teacher h5:hover {
  color: #60a5fa;
  transition: all 0.5s;
}

.About .Post h6 {
  font-weight: bold;
  transition: all 0.5s;
}
.About .Post h6:hover {
  color: #60a5fa;
}
.About .Post .Info i {
  margin-right: 4px;
}
.About .Post .Info span {
  padding-right: 16px;
}
.About .Post .Info span:nth-of-type(1) i {
  color: #60a5fa;
}
.About .Post .Info span:nth-of-type(2) i {
  color: #fadb14;
}
.About .Post .Info span:nth-of-type(3) i {
  color: #4caf50;
}
.About .Review p {
  font-style: italic;
  color: #acafb4;
  font-size: 18px;
  padding: 20px 0 30px;
  min-height: 200px;
}
.About .Review p i {
  color: #ed85ab;
  margin-right: 8px;
  position: relative;
  bottom: 10px;
}
.About .Review .AvatarStudent {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.About .Review .AvatarStudent img {
  display: block;
  width: 100%;
}
.About .Review h6 {
  transition: all 0.5s;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 4px;
}
.About .Review h6:hover {
  color: #60a5fa;
}
.About .Review .GroupButton {
  position: absolute;
  right: 0;
  bottom: 16px;
}
.About .Review .GroupButton div {
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #60a5fa;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  padding: 6px;
  margin-left: 8px;
  transition: all 0.5s;
}
.About .Review .GroupButton div:hover {
  background-color: #60a5fa;
}
.About .Review .GroupButton div.Active {
  background-color: #60a5fa;
}

@media (max-width: 1024px) {
  .About .Review p {
    min-height: 160px;
  }
}
@media (max-width: 768px) {
  .About .Review p {
    min-height: 240px;
  }
}
@media (max-width: 480px) {
  .About .Post h6 {
    font-size: 14px;
  }
  .About .Post span {
    font-size: 12px;
  }
}
.Type .Active {
  color: #60a5fa;
}

.BtnSearch.BtnGlobal {
  border-radius: 0 30px 30px 0;
  padding: 10px 20px;
}

.CourseList {
  clear: both;
  padding: 0 !important;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.Error {
  position: relative;
  margin: 24px 0;
  padding: 10px 0;
  border-top: 5px solid #60a5fa;
  width: 100%;
}
.Error:before, .Error:after {
  content: "";
  position: absolute;
}
.Error:before {
  top: 0;
  right: 20px;
  width: 20px;
  height: 30px;
  background: #60a5fa;
}
.Error:after {
  top: 10px;
  right: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff;
}

.Comment .CommentImage {
  width: 80%;
  height: 220px;
  background: url(https://cdn.dribbble.com/users/1235460/screenshots/3748537/media/c9c1f316535f015b9770c71efb91be46.gif) no-repeat center top/cover;
  margin: auto;
}

@media (max-width: 768px) {
  .BtnSearch.BtnGlobal {
    padding: 10px 12px;
  }
  .CourseList .BtnGlobal {
    padding: 12px 16px;
  }
  .CourseList .CardFooterGlobal p:nth-of-type(2) {
    font-size: 12px;
  }
  .Error {
    padding: 40px 0;
  }
}
.DetailCourse .SectionCourse {
  display: flex;
  align-items: center;
}
.DetailCourse .SectionCourse span {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  margin-right: 20px;
}
.DetailCourse .SectionCourse .BtnGlobal {
  cursor: default;
}
.DetailCourse .SectionCourse .BtnGlobal:hover {
  transform: scale(0.97);
}
.DetailCourse .Info {
  display: flex;
  padding: 12px 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}
.DetailCourse .Info i {
  color: #60a5fa;
  margin-right: 10px;
}
.DetailCourse .SideBarCourseDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  padding: 10px 30px;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}
.DetailCourse .SideBarCourseDetail .BtnGlobal:hover {
  transform: scale(0.97);
}
.DetailCourse .SideBarCourseDetail .Content ul li {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
  border-bottom: 1px solid #f3f4f6;
}
.DetailCourse .SideBarCourseDetail .Content ul li p {
  color: #000;
}
.DetailCourse .SideBarCourseDetail .Content ul li p span {
  color: #c6c7cc;
  font-weight: 500;
}
.DetailCourse .SideBarCourseDetail .Content ul li i {
  font-size: 20px;
  color: #fadb14;
}

@media (max-width: 1024px) {
  .DetailCourse .Info {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .DetailCourse .Info {
    font-size: 12px;
    padding: 12px 8px;
  }
  .DetailCourse .SectionCourse span {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .DetailCourse .SectionCourse span {
    font-size: 14px;
  }
}
.ListCategory .Title {
  display: inline-block;
  border-radius: 25px;
  padding: 12px 10px;
  cursor: default;
  border: 2px solid #f3f4f6;
  outline: none;
  transition: 0.5s linear;
  font-weight: 500;
}
.ListCategory .Title:hover {
  border: 2px solid #60a5fa;
  filter: brightness(110%);
  transform: scale(0.98);
}

.User .ContentLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}
.User .ContentLeft img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.User .ContentLeft span {
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  background-color: #60a5fa;
  border: none;
}
.User .ContentRight .Tab button {
  color: #fff;
  border: none;
  border-top: 2px solid transparent;
  background-color: #60a5fa;
  outline: none;
  padding: 14px 16px;
  transition: all 0.3s;
}
.User .ContentRight .Tab button.Active {
  background-color: #fff;
  color: #60a5fa;
  border-top: 2px solid #60a5fa;
}
.User .ContentRight .Info p {
  padding: 10px 16px;
  margin: 14px 20px 14px 0;
  font-weight: 500;
  border: 2px solid #f3f4f6;
  transition: 0.5s linear;
  border-radius: 25px;
}
.User .ContentRight .Info p span {
  font-size: 15px;
  font-weight: 400;
  margin-left: 8px;
}
.User .ContentRight .Info p:hover {
  border: 2px solid #60a5fa;
  filter: brightness(110%);
  transform: scale(0.98);
}
.User .ContentRight .TabContent {
  display: none;
}
.User .ContentRight .TabContent.Active {
  display: block;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .User .ContentRight .TabContent .CardHorizontal .CardFooterGlobal > div:nth-of-type(3) {
    display: flex;
  }
  .User .ContentRight .TabContent .CardHorizontal .CardFooterGlobal > div:nth-of-type(3) .BtnGlobal {
    padding: 10px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .User .ContentRight .Info .BtnGlobal {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */