.Header {
  transition: all 0.5s;
  background: $colorBgSPrimary;

  .HeaderSearch {
    button {
      border-radius: 0 30px 30px 0;
      padding: 10px 30px;
    }
  }

  .Content {
    .ContentRight {
      button {
        padding: 10px 30px;
      }
    }
  }
}

.MenuHeader {
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;

  li {
    padding: 0 10px;
    a {
      transition: all 0.5s;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.25s ease-in-out;
      &:hover {
        color: $colorGlobal;
      }
    }
  }
}

@media (max-width: 1024px) {
  .Header {
    .Content {
      padding: 0 15px;

      .ContentRight {
        button {
          padding: 10px 25px;
        }
      }
    }

    .HeaderSearch {
      padding: 0 15px;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .Header {
    .Content {
      padding: 0 12px;

      .ContentRight {
        button {
          padding: 8px 14px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Header {
    .BtnGlobal {
      padding: 10px 20px;
      border-radius: 0 30px 30px 0;
    }
  }
}
